:root {
    --header-color: rgb(042,135,152);
    --color-2: rgb(078,131,155);
    --color-3: rgb(127,151,177);
    --lgt-bg-txt: rgb(077,089,101);
    --color-5: rgb(112,112,112);
    --color-6: rgba(219, 217, 204, 0.77);
    --color-7: rgba(237, 234, 216, 0.77);
    --color-8: rgb(218,224,230);
    --dark-bg-txt: rgb(255,255,255);
}

@font-face {
    font-family: 'manaspaceregular';
    src: url('assets/webfontkit-20190304-160544/manaspc-webfont.woff2') format('woff2'),
         url('assets/webfontkit-20190304-160544/manaspc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: 'lektonregular';
    src: url('assets/webfontkit-20190304-160544/lekton-regular-webfont.woff2') format('woff2'),
         url('assets/webfontkit-20190304-160544/lekton-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'retron2000regular';
    src: url('assets/webfontkit-20190304-160544/retron2000-webfont.woff2') format('woff2'),
         url('assets/webfontkit-20190304-160544/retron2000-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cayetano_roundregular';
    src: url('assets/webfontkit-20190304-160544/cayetanr-webfont.woff2') format('woff2'),
         url('assets/webfontkit-20190304-160544/cayetanr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'major_mono_displayregular';
    src: url('assets/webfontkit-20190304-160544/majormonodisplay-regular-webfont.woff2') format('woff2'),
         url('assets/webfontkit-20190304-160544/majormonodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chakra_petch_mediumregular';
    src: url('assets/webfontkit-20190304-160544/chakrapetch-medium-webfont.woff2') format('woff2'),
         url('assets/webfontkit-20190304-160544/chakrapetch-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'lektonregular', 'PT-sans', sans-serif;
    color: var(--dark-bg-txt);
    background-image: url(assets/15px_milkyway.png);
    background-size: cover;
    background-color: rgb(14, 19, 24);
    
}

h2 {
    padding: 0;
    margin: 5px;
}


#header {
    font-family: 'manaspaceregular';
    height: 200px;
    position: relative;
    /* background-color: rgba(189, 189, 189, 0.507); */
    padding-right: 120px;

    
}

#header h1 {
    color: var(--header-color);
    text-align: center;
    font-size: 3.3em;
    padding-top: 159.5px;
    padding-left: 100px;
}




#main {
    max-width: 860px;
    height: 500px;
    display: block;
    margin: 0px auto;
    align-items: center;
    padding-right: 120px;
    padding-bottom: 60px;
    
}

#navigation {
    float: left;
    width: 120px;
}

#navigation ul {
    margin: 0px;
    padding: 1px 0px 0px 0px;
    list-style: none;
    text-align: center;
    float: right;
    display: table;
}

#navigation ul li {
    font-family: 'manaspaceregular';
    font-size: .75em;
    line-height: 60px;
    color: var(--color-2);
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin: 0px 0px 2px 0px;
}

#navigation ul li a {
    background-color: var(--color-6);
    height: inherit;
    width: inherit;
    float: right;
    transition: 500ms;
    text-decoration: none;
    color: var(--color-2);
    border: rgb(255,255,255) solid .5px;
    border-right: 0px;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
}

#navigation ul li a:hover {
    width: 90px;
    color: var(--lgt-bg-txt);
    font-size: 1.5em;
}

#navigation ul li a.current-page {
    width: 90px;
    font-size: 1.3em;
    color: var(--lgt-bg-txt);
}


#content {
    background-color: var(--color-7);
    color: var(--lgt-bg-txt);
    float: right;
    width: 700px;
    height: 100%;
    padding: 5px 19.5px;
    border: rgb(255,255,255) solid .5px;
    border-radius: 2.5px;
    overflow: hidden;
    
}

#content p {
    font-size: 1.1em;
    padding: 0;
}

#content p:first-of-type {
    margin-top: 2px;
}

#scroll {
    width: 720px;
    /* margin-top: 10px; */
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

#footer {
    /* clear: both; */
    position: absolute;
    font-size: .9em;
    text-align: center;
    bottom: 0%;
    left: 50%;
    margin-left: -150px;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}
